.right-submenu-container{
    color: #073065;
    font-size: 12px;
    font-weight: bold;

}
.right-submenu-content{
    padding-left: 35px;
    position: relative;
    line-height: 50px;
}
.right-submenu-content::before{
    position: absolute;
    top: 10px;
    left: 0px;
}
.img-dollar::before{
    content: url('../../images/icon-coin.svg');
}
.img-calendar::before{
    content: url('../../images/icon-calendar.svg');
}
.right-submenu-content::after{
    content: ">";
    position: absolute;
    right: 5px;
}
.right-submenu-text{
    font-size:10px;
}
