@font-face {
    font-family: "Garnett-Light";   /*Can be any text*/
    src: local("Garnett-Light"),
      url("./fonts/Garnett-Light.ttf") format("truetype");
  }

body{
    font-family: 'Garnett-Light'
}