.horizontal-line{
    border-bottom: 1.5px solid #d2d3d4;
}

h2{
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 20px;
}

h5{
    font-size: 11px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom:0px;
}

.dashobard-body-content{
   margin-top: 25px;
   margin-right: 10%;
   color: #3b4045;
}